<!--main.handlebars-->
<!DOCTYPE html>
<html>


<head>
    <title>Flock App</title>
    <link rel="stylesheet" href="/styles/style.css">
    <!-- Add any other head elements here -->
</head>
<body>
 
    <div class="main-content">
        {{{body}}}
      
    </div>
</body>
</html>
