{{> header}}
<h1>Welcome to Let's Flock App</h1>
</nav>
<nav>
    <ul>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/about">About</a></li>
        <!-- Other links -->
    </ul>
</nav>


<!-- Add more content as needed -->
{{> footer}}

