/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(229,229,247,1) 100%);
    color: #333;
}

/* General layout styles */
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* Header and navigation styles */
header {
    background: #fff;
    color: #333;
    font-size: larger;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img, .avatar-img {
    width: 55px;
    height: 55px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info nav {
    margin-left: 20px;
}

.menu-icon {
    display: none;
}

/* Responsive design */
@media (max-width: 600px) {
    .user-info nav {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

/* Header and navigation styles */

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #6f5499; /* Subtle purple tone */
}


.topic-button.selected {
    background-color: lightblue; /* Style for selected topic */
    font-size: x-large;
}

.topics {
    display: initial;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: larger;
}

.topic-button.selected {
    background-color: #4CAF50; /* Green background for selected topic */
    color: white;
}

.headline .choose-button.selected {
    background-color: red; /* Red background for selected headline */
    color: white;
}


.headlines, .flock-users, .timeslots, .comment-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.headline, .timeslot, .comment {
    margin: 10px;
}

.comment-box textarea {
    display: block;
    margin: 10px auto;
}

.choose-button {
    background-color: lightgreen;
    color: darkblue;
    /* Other button styles */
}

.choose-button.selected {
    background-color: red;
    color: white;
}


/* Footer styles */
footer {
    background: #fff;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin-bottom: 5px;
    }
}
